[submodule "BoostHelpers"]
	path = BoostHelpers
	url = git@github.com:daviddoria/BoostHelpers.git
[submodule "QtHelpers"]
	path = QtHelpers
	url = git@github.com:daviddoria/QtHelpers.git
[submodule "ITKVTKHelpers"]
	path = ITKVTKHelpers
	url = git@github.com:daviddoria/ITKVTKHelpers.git
[submodule "VTKHelpers"]
	path = VTKHelpers
	url = git@github.com:daviddoria/VTKHelpers.git
[submodule "Mask"]
	path = Mask
	url = git@github.com:daviddoria/Mask.git
[submodule "ITKQtHelpers"]
	path = ITKQtHelpers
	url = https://github.com/daviddoria/ITKQtHelpers.git
[submodule "Utilities/Histogram"]
	path = Utilities/Histogram
	url = https://github.com/daviddoria/Histogram.git
