[submodule "BoostHelpers"]
	path = BoostHelpers
	url = ../BoostHelpers.git
[submodule "QtHelpers"]
	path = QtHelpers
	url = ../QtHelpers.git
[submodule "ITKVTKHelpers"]
	path = ITKVTKHelpers
	url = ../ITKVTKHelpers.git
[submodule "VTKHelpers"]
	path = VTKHelpers
	url = ../VTKHelpers.git
[submodule "Mask"]
	path = Mask
	url = ../Mask.git
[submodule "ITKQtHelpers"]
	path = ITKQtHelpers
	url = ../ITKQtHelpers.git
[submodule "Utilities/Histogram"]
	path = Utilities/Histogram
	url = ../Histogram.git
[submodule "Utilities/Debug"]
	path = Utilities/Debug
	url = ../Debug.git
[submodule "ITKVTKCamera"]
	path = ITKVTKCamera
	url = https://github.com/daviddoria/ITKVTKCamera.git
[submodule "CMakeHelpers"]
	path = CMakeHelpers
	url = https://github.com/daviddoria/CMakeHelpers.git
